In [2]:
import pandas as pd
datasets_path = "/home/francisco/Documents/Practica/Time-Series-Library/datasets/"
data  = pd.read_csv(datasets_path+ 'Coffee_500Exog.csv')
results=  pd.read_csv(datasets_path+ 'Coffee_500Exog_results.csv')
sugar_df  = pd.read_csv(datasets_path+ 'Sugar_500Exog.csv')
sugar_results_df =  pd.read_csv(datasets_path+ 'Sugar_500Exog_results.csv')

In [31]:
data["date"] = pd.to_datetime(data["date"])
results["date"] = pd.to_datetime(results["date"])

data = data.set_index("date", drop=True)
results = results.set_index("date", drop=True)

,date,item,model,units,rmse,smape,forecast_accuracy,bias,lower,upper
0,2021-12-20,Coffee,xrnn,236.868011,0.968011,0.409508,99.589652,0.004087,228.219923,245.516100
1,2021-12-27,Coffee,xrnn,237.531372,6.331372,2.701493,97.261517,0.026655,225.848703,249.214041
2,2022-01-03,Coffee,xrnn,233.228180,7.128180,3.103742,96.847333,0.030563,219.202991,247.253369
3,2022-01-10,Coffee,xrnn,237.179077,1.270923,0.534418,99.467007,-0.005358,221.313663,253.044491
4,2022-01-17,Coffee,xrnn,231.875397,7.774603,3.297639,96.755851,-0.033529,214.395706,249.355087

In [32]:
from dateutil import relativedelta
from datetime import datetime
virtual_present = "2021-12-13"
virtual_present = datetime.strptime(virtual_present, "%Y-%m-%d")

test_start = virtual_present - relativedelta.relativedelta(weeks=52)
train_data = data[data.index <= virtual_present]
test_data = data[(data.index >= test_start)]

In [34]:
train_data.to_csv(datasets_path+'train_data.csv')
test_data.to_csv(datasets_path+'test_data.csv')

In [37]:
test_data[test_data.index>='2021-12-10']

,id,value,Exog_1,Exog_2,Exog_3,Exog_4,Exog_5,Exog_6,Exog_7,Exog_8,...,Exog_491,Exog_492,Exog_493,Exog_494,Exog_495,Exog_496,Exog_497,Exog_498,Exog_499,Exog_500
date,,,,,,,,,,,,,,,,,,,,,
2021-12-13,Coffee,232.70,4.27,3440,1795.3,22.30,19746.0,2284.0,105.00,1606.0,...,23.90,11.36,32.0,22.9,27.45,8.11,26.2,9.3,17.75,0.30
2021-12-20,Coffee,235.90,4.28,3440,1816.3,22.64,19648.0,2307.5,111.64,1647.0,...,23.90,10.26,31.7,22.5,27.10,12.74,27.7,13.2,20.45,1.81
2021-12-27,Coffee,231.20,4.37,3592,1823.3,23.04,20045.0,2278.0,112.54,1616.0,...,23.10,7.05,29.9,21.9,25.90,7.17,28.2,11.6,19.90,0.47
2022-01-03,Coffee,226.10,4.44,3571,1840.9,23.46,20757.0,2304.0,112.50,1435.0,...,23.55,12.40,31.1,21.9,26.50,10.60,26.3,13.5,19.90,0.54
2022-01-10,Coffee,238.45,4.40,3619,1808.2,22.52,20734.0,2278.0,126.21,1415.0,...,21.95,17.67,31.4,18.7,25.05,19.42,28.9,10.6,19.75,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-27,Coffee,187.43,3.96,4099,1818.0,20.75,24424.0,2080.0,125.92,1030.0,...,21.60,10.31,24.5,17.2,20.00,20.72,16.9,9.0,12.50,7.26
2023-03-06,Coffee,178.23,4.07,4177,1862.8,21.39,24675.0,2119.5,126.64,1050.0,...,21.90,10.06,31.8,16.6,22.70,3.56,21.9,7.2,14.00,3.37
2023-03-13,Coffee,177.30,4.01,4125,1873.6,20.60,22688.0,2071.0,129.48,1050.0,...,21.80,13.04,20.0,16.7,17.90,15.17,17.0,10.9,12.70,11.87
2023-03-20,Coffee,176.83,3.90,4248,1993.7,22.75,23545.5,2090.0,128.91,1056.0,...,21.80,14.66,32.0,17.8,22.70,5.83,15.2,9.5,11.70,11.03
2023-03-27,Coffee,179.42,4.07,4156,1981.0,23.38,23652.0,2126.0,126.66,1060.0,...,21.60,15.90,24.9,17.6,19.90,7.70,16.4,10.2,12.50,5.57

In [26]:
data["results_xrnn"] = results["units"]

In [27]:
data[data["results_xrnn"].notnull()]

results_all_models = data[["value", "results_xrnn"]]

## Azucar

In [3]:
sugar_results_df.head()

,date,item,model,units,rmse,smape,forecast_accuracy,bias,lower,upper
0,2022-04-04,Sugar,xrnn,19.546572,0.176572,0.907437,99.088427,0.009033,18.787300,20.305843
1,2022-04-11,Sugar,xrnn,19.437195,0.972805,4.882678,95.233684,-0.050049,18.400523,20.473867
2,2022-04-18,Sugar,xrnn,18.994003,1.065997,5.459091,94.685959,-0.056123,17.781500,20.206506
3,2022-04-25,Sugar,xrnn,19.365982,0.125982,0.652656,99.345208,0.006505,18.043387,20.688577
4,2022-05-02,Sugar,xrnn,19.885237,0.535237,2.728347,97.233919,0.026916,18.486431,21.284042

In [5]:
sugar_df["date"] = pd.to_datetime(sugar_df["date"])
sugar_results_df["date"] = pd.to_datetime(sugar_results_df["date"])

sugar_df = sugar_df.set_index("date", drop=True)
sugar_results_df = sugar_results_df.set_index("date", drop=True)

In [11]:
from dateutil import relativedelta
from datetime import datetime
virtual_present = '2022-04-04'
virtual_present = datetime.strptime(virtual_present, "%Y-%m-%d")

virtual_present = virtual_present - relativedelta.relativedelta(weeks=1)
test_start = virtual_present - relativedelta.relativedelta(weeks=52)

In [16]:
train_data_sugar = sugar_df[sugar_df.index <= virtual_present]
test_data_sugar = sugar_df[sugar_df.index >= test_start]

In [17]:
train_data_sugar.to_csv(datasets_path+'sugar_data.csv')
test_data_sugar.to_csv(datasets_path+'sugar_test.csv')